@charset "utf-8";

body{margin:0; padding:0;}

body{color:#333;font-size:0.75em;background-color:#858585;line-height:1.2em;}
#warp{
    width:250px; height: 150px; /*각 웹페이지의 크기에 맞게 사이즈 조정*/
    text-align:left; margin:0;
    margin-right:auto; margin-left: auto;
    margin-right:auto; margin-left: auto;
    background-image:url(../images/shadow.png);
    background-repeat:repeat-y;
    min-height:150px;
}

/*─────article ─────────────────────────────────────────────────────────────────────────────────────────*/
#contents{width:200px; height:150px;margin: auto;align-content: center;child-align: middle;}

.nothing{
    height: 50px;
}

.chil{
    height:30px;
    vertical-align: center;
    text-align: center;
    align-items: center;
    alignment: center;
    align-content: center;
    child-align: middle;
}

article .btn{
    padding:2px;
    width:70px; height:23px;
    border-radius:10px;
    border:1px solid #999;
    color:#FFF;
    background-image:url(../images/t_back.jpg);
    background-repeat:repeat-x;
    background-position:center center;
}

/*──────────────────────────────────────────────────────────────────────────────────────────────────────*/
